.menuBlocks
	.menuItem.item_1
		a(href="start.html")
			+startMix('START')
			+hoverItemMix('nesClassic', 'Colecciós NES')
	.menuItem.item_2
		a(href="bonus.html")
			+triangleMix
			+hoverItemMix('zelda', 'the Art of the videogames', '24 de julio')
	.menuItem.item_3
		a(href="player.html")
			+crossMix('PLAYER 1')
			+hoverItemMix('sobre', 'Sobre nosotros', '12 de septiembre')
	.menuItem.item_4
		a(href="level.html")
			+calendarMix
			+hoverItemMix('atariNeon', 'Calendario de Agosto')
	.menuItem.item_5
		+hoverItemMix('cartridge', 'Cartuchos de juego', '8 de enero')
	.menuItem.item_6
		+angleLineMix
		+hoverItemMix('gamepad', 'Colección de joysticks')
	.menuItem.item_7
		+centerLineMix
		+hoverItemMix('hero', 'Desarrollo de géneros')
	.menuItem.item_8
		+circleCultMix
		+hoverItemMix('duke', 'Juegos de culto', '30 de agosto')