.secondBlock.clearfix
	.newsWrap.clearfix
		+squareBoxMix('START', 'red')
		+articleBoxMix('red', 0)
		+imgBoxMix('mario', 'museum', 'Museo con colección de videojuegos')
		+imgBoxMix('monumentValley', 'cratos', 'the Art of the videogames', '24 de julio')
		+angleBoxMix('BONUS', 'blue')
		+articleBoxMix('blue', 1)
		+articleBoxMix('yellow', 2, 'LEVEL UP')
		+imgBoxMix('retroConsole', 'exhibition', '40 años de videjuegos')
		+circleBoxMix('yellow')
		+imgBoxMix('atariNeon', 'pacman', 'Juegos retro de la dislocación')
		+crossBoxMix('black')
		+articleBoxMix('black', '', 'PLAYER 1')