.mounthBlock
	.levelHalfCircle
	.mounthWrap.clearfix
		.present
			h1.present__title DE ENERO A DICIEMBRE 2017
			.circleWrap._t25._lOut
				.circle._3._bYellow
			.hLine._t25._l._bgYellow

		+halfMounthMix('ENERO', 'Yellow')
		+letterMounthMix('F', 'white', 'Yellow')
		+halfMounthMix('MARZO', 'Transparent', '0')

		+twinMounthMix('A', 'yellow', 'Transparent', 0, 'none')

		+letterMounthMix('M', 'yellow', 'Transparent')
		+circleMounthMix('J', 'yellow', 'Transparent', 'r', 'black', 0)

		+articleMounthMix('JULIO', 'Transparent', 0)
		+twinMounthMix('A', 'yellow', 'Transparent', 1, '', 'GAME JAM')

		+halfMounthMix('SETIEMBRE', 'Transparent')
		+letterMounthMix('O', 'yellow', 'Transparent')

		+halfMounthMix('NOVIEMBRE', 'Mario')
		+articleMounthMix('DICIEMBRE', 'Transparent', 1, 0)