.artBlock
	.artWrap.clearfix
		+artNewsMix('23.07.2017', 'valley', 'The Art of the videogames', 0)
		+artNewsMix('15.07.2017', 'ff', 'Final Fantasy', 0)
		+artNewsMix('17.07.2017', 'zelda', 'Expo Fan Art', 0)
		+artNewsMix('25.07.2017', 'slots', 'Free Play Arcades', 0)
		+artNewsMix('18.07.2017', 'lorna', 'Las mejores portadas', 0)
		+artNewsMix('27.07.2017', 'mario', 'Video games Art toys', 0)