.exhibBlock
	include _breve.pug
	.exhibWrap.clearfix
		+exhibArticleMix('RETROVIDEOGAME', '02.08.2017', 'Mario')
		+exhibArticleMix('CRAS: ARQUELOGÍA Y VIDEOJUEGOS', '05.08.2017', 'Lara')
		+exhibTriangleMix('Red')
		+exhibArticleMix('FUTURO DEL GAMING', '09.08.2017', 'Future')
		+exhibCircleMix('Yellow')
		+exhibArticleMix('EXPLORA COMMODORE', '10.08.2017', 'Explore')
		+exhibArticleMix('CONSOLAS PIRATAS', '12.08.2015', 'Pac')
		+exhibCrossMix('Black')
		+exhibArticleMix('MEGAEXPO DISEÑOGAMER', '15.08.2017', 'Expo')
		+exhibArticleMix('VIDEOJUEGOS, HISTORIA Y MITOLOGÍA', '18.08.2017', 'Myth')
		+exhibSquareMix('Blue')
		+exhibArticleMix('CICLO CINE', '24.08.2017', 'Film')