$hoverBgPathDesktop : "../image/home/240px";
$hoverBgPathLaptop : "../image/home/180px";
$hoverBgPathTablet : "../image/home/120px";
$hoverBgPathPhone : "../image/home/150px";

$newsStaticBgPath : "../image/home/static";

$newsBgPathDesktop : "../image/home/460px";
$newsBgPathLaptop : "../image/home/340px";
$newsBgPathTablet : "../image/home/230px";

$nesClassicAngleColor: #ff0000;
$zeldaAngleColor: #43a4eb;
$sobreAngleColor: #000;
$atariNeonAngleColor: #fed100;
$cartridgeAngleColor: #000;
$gamepadAngleColor: #fed100;
$heroAngleColor: #da2110;
$dukeAngleColor: #43a4eb;

$museumAngleColor: #da2110;
$cratosAngleColor: #00ace4;
$exhibitionAngleColor: #fed100;
$pacmanAngleColor: #000;