.atari
	.atari__receiver
		.atari__receiverInside
			.atari__connector
	.atari__panel
		.atari__panelInside

			.atari__toggleWrap.clearfix
				.atari__toggle
					.atari__button
					.atari__button
				.atari__toggle
					.atari__button
					.atari__button
			.atari__toggleWrap.clearfix
				.atari__toggle
					.atari__button
					.atari__button
				.atari__toggle
					.atari__button
					.atari__button
	.atari__housing
		.atari__latticeWrap
			.atari__lattice
			.atari__lattice
			.atari__lattice
			.atari__lattice
		.atari__line
	.trapeze
		.trapezeInside