.g7
	.ps
		.ps__floppy
		.ps__controlPanel
			.ps__section
				.ps__namePart
				.ps__control
					.ps_memory
					.ps_contacts
						.ps_contactLine.clearfix
							.ps_contact
							.ps_contact
							.ps_contact
			.ps__section
				.ps__namePart
				.ps__control
					.ps_memory
					.ps_contacts
						.ps_contactLine.clearfix
							.ps_contact
							.ps_contact
							.ps_contact
	.psBlock
		.psBlock__housing._r._yellow
			.psBlock__tongue
			.psBlock__side
			.psBlock__lower
	.psBlock._r
		.psBlock__housing
			.psBlock__side._yellow
			.psBlock__lower