.nintendo
	.nintendo__housing
		.nintendo__housingPanel
			.nintendo__lattice
				.nintendo__stripe._md._mgt
				.nintendo__stripe._md._mgt
				.nintendo__stripe._md._mgt
				.nintendo__stripe._md._mgt
				.nintendo__stripe._md._mgt
			.nintendo__scheme
				.nintendo__stripeWrap._mgt
					.nintendo__stripe._sm
				.nintendo__stripeWrap._mgt.clearfix
					.nintendo__stripe._sm._fl._mgr
					.nintendo__stripe._md._fl._mgr
				.nintendo__stripeWrap._mgt._mgb.clearfix
					.nintendo__stripe._sm._fl._mgr
					.nintendo__stripe._lg._fl._mgr
			.nintendo__line
		.nintendo__radiator.clearfix
			.nintendo__grid._fl
			.nintendo__grid._fl
			.nintendo__grid._fl
			.nintendo__grid._fl
		.nintendo__rightPanel
			.nintendo__line
	.nintendo__trapeze
		.nintendo__trapezeInside
			.nintendo__trapezePanel
				.nintendo__lattice
					.nintendo__stripe._md
					.nintendo__stripe._sm._r._mgt
				.nintendo__controls
					.nintendo__power._fl._mgr
					.nintendo__control._fl._mgr
						.nintendo__contact
					.nintendo__control._fl
						.nintendo__contact