.super
	.super__receiver
		.super__sideBlock
			.super__latticeSide
		.super__sideBlock
			.super__latticeSide._r
		.super__connector
	.super__panel
		.super__toggleWrap
		.super__toggleWrap
	.super__housing
		.super__present
			.super__diode
		.super__controlPanel
			.super__line
			.super__controls
				.super__control._brl.clearfix
					.super__contact._brl._fl
						.circle._fl
						.circle._fl
						.circle._fl
					.super__contact._fl
						.circle._fl
						.circle._fl
						.circle._fl
						.circle._fl
				.super__control._brr.clearfix
					.super__contact._fl
						.circle._fl
						.circle._fl
						.circle._fl
						.circle._fl
					.super__contact._brr._fl
						.circle._fl
						.circle._fl
						.circle._fl
	.super__trapeze
		.super__trapezeInside
			.super__lattice