.wrapGen.clearfix
	+generationItemMix('atari', 'COMMODORE 64', 'MAGNAVOX ODISSEY', 'ATARI', '1RA', '1975')
	+generationItemMix('nuntendo', 'GAMEBOY', 'SUPER NINTENDO', 'NINTENDO', '3RA', '1985')
	+generationItemMix('snintendo', 'GAMEBOY COLOUR', 'MEGA DRIVE', 'S-NINTENDO', '4TA', '1990')
	+generationItemMix('psOne', 'SEGA DREAMCAST', 'NINTENDO 64', 'PS ONE', '5TA', '1995')
	+generationItemMix('xboxOne', 'PLAY STATION 4', 'NINTENDO WII U', 'XBOX ONE', '8VA', '2013')