.xbox
	.xbox__housing
		.xbox__drive
		.xbox__enclosure
			.xbox__driveButtonWrap
				.xbox__driveButton
			.xbox__emblemWrap
				.xbox__emblem
	.xbox__stand
		.xbox__usb
			.xbox__contact
		.xbox__button
		.xbox__blaster