html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/home/_linkHomeStyle.pug
		include template/partials/footer/_linkFooterStyle.pug
	body
		include template/partials/home/_homeProperties.pug
		.container
			include template/partials/home/_firstBlock.pug
			include template/partials/home/_secondBlock.pug
			include template/partials/footer/_footer.pug