html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/start/_linkStart.pug
	body
		include template/partials/start/_startProperties.pug
		.container
			include template/partials/start/_startBlock.pug
		include template/partials/start/_mainScripts.pug