header.sideBlock
	.scm
		h1.scm__logo COMPUTER<br/>SPIELE<br/>MUSEUM
	include _menu.pug
	.openMuseum
		.museumAngle
		.openTime
			h1.openTime__title ABIERTO HOY
			p.openTime__clock Horario:<br/>10 am-10 pm
		form.coinForm(action="")
			button.coinForm__button INSERT COIN
			.coinForm__search.clearfix
				.coinForm__icon
				input.coinForm__input(type="text")