.menu.clearfix
	case friends
		when 1
			a(href="bonus.html")
				.menu__item
					.menu__bonus
					.menu__description
						.menu__text
							h1.menu__title BONUS
							h2.menu__subtitle EXHIBICIONES
			a(href="start.html")
				.menu__item
					.menu__start
			a(href="level.html")
				.menu__item
					.menu__level
			a(href="")
				.menu__item
					.menu__playerItem
					.menu__playerItem
		when 2
			a(href="bonus.html")
				.menu__item
					.menu__bonus
			a(href="start.html")
				.menu__item
					.menu__start
					.menu__description
						.menu__text
							h1.menu__title START
							h2.menu__subtitle COLLECTIÓN
			a(href="level.html")
				.menu__item
					.menu__level
			a(href="")
				.menu__item
					.menu__playerItem
					.menu__playerItem
		when 3
			a(href="bonus.html")
				.menu__item
					.menu__bonus
			a(href="start.html")
				.menu__item
					.menu__start
			a(href="level.html")
				.menu__item
					.menu__level
					.menu__description
						.menu__text
							h1.menu__title LEVEL UP
							h2.menu__subtitle CALENDARIO
			a(href="")
				.menu__item
					.menu__playerItem
					.menu__playerItem
		default
			a(href="")