footer.footer
	.footerWrap
		.minCircle
		.square._2
			.squareLine
		.square._3
		.footerAngle._1
		.footerAngle._2

		.footerInfo.clearfix
			.footerInfo__item._1
				.footerInfo__category
					h1.footerInfo__title Computerspiele Museum
				.footerInfo__text Karl-Marx-Allee 93a <br/>10243 Berlin
			.footerInfo__item
				.footerInfo__category
					h1.footerInfo__title +49 30 6098 8577 <br/> (taglich 10 - 20 Uhr)
				.footerInfo__text info@computerspiele.org
			.footerInfo__item._2
				.footerInfo__category.clearfix
					.footerInfo__socials._facebook
					.footerInfo__socials._twitter
					.footerInfo__socials._pinterest
					.footerInfo__socials._inst
					.footerInfo__socials._google
				.footerInfo__text Suscribete para recibir noticias:
				form.footerInfo__form.clearfix(action="")
					input.footerInfo__input(type="text")
					button.footerInfo__sub SUBSCRIBIRSE
					.formLine